<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Валентинкa</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='hert.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='valentine.css') }}">
</head>
<body>
    {% if show_valentines %}
    <div class="container">
        {% for key, value in valentines.items() %}
        <div class="card">
            <div class="card-inner">
                <!-- Червоне серце -->
                <div class="card-front">
                    <div class="red-heart">
                        <p>💖 {{ key }} 💖</p>
                    </div>
                </div>
                <!-- Біле серце -->
                <div class="card-back">
                    <div class="white-heart">
                        <p>{{ value }}</p>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <div class="heart">
        <p class="welcome-text">Вам прийшли валентинки! Хотіли б ви їх побачити?</p>
        <form method="post">
            <button type="submit">Так</button>
        </form>
    </div>
    {% endif %}
    <footer>
        <p>Розроблено <a href="https://artemzahreba.pythonanywhere.com/resume/en" target="_blank">Artem Zahreba</a></p>
    </footer>
</body>
</html>
